.popup {
	width: 100%;
	height: 100%;
	display: none;
	flex-flow: column nowrap;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .5);
	padding-top: 185px;
	align-items: center;
}

@media screen and (max-width: 380px) {
	.popup {
		padding-top: 122px;
	}	
}
