.page {
  background-color: #000;
  background-size: 100vh;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Inter", "Arial", sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 100%;
  max-width: 918px;
  min-width: 282px;
  padding: 0 19px;
}

