.header__logo {
	display: block;
	margin: 0;
	padding: 0;
	width: 142px;
	height: 33px;
	background-image: url(../../../images/logo_white.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
} 

.header__logo:hover {
	opacity: .5;
	transition: opacity .3s;
	cursor: pointer;
}

@media screen and (max-width: 880px) {
	.header__logo {
		margin-left: 27px;
	}
	
}

@media screen and (max-width: 380px) {
	.header__logo {
		width: 104px;
		height: 24px;
		background-image: url(../../../images/logo_white_small.svg);
	}
	
}