.profile__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 40px;
	margin-bottom: 50px;
}

@media screen and (max-width: 880px) {
	.profile__container {
		flex-direction: column;
		margin-bottom: 36px;
	}
}

@media screen and (max-width: 380px) {
	.profile__container {
		padding-top: 42px;
		margin-bottom: 36px;
	}
	
}