.photo-grid__item-delete {
	position: absolute;
	top: 18px;
	right: 15px;
	width: 18px;
	height: 19px;
	background-image: url(../../../images/Trash.svg);
	border: none;
	background-color: transparent;
	background-position: center;
	background-size: initial;
	background-repeat: no-repeat;
	box-sizing: border-box;
	margin: 0;
	transition: opacity .3s;
}

.photo-grid__item-delete:hover {
	opacity: .6;
	cursor: pointer;
}