.popup__btn-add {
	width: 150px;
	height: 50px;
	background-image: url(../../../images/plus_big.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	background-size: initial;
	border: 2px solid #fff;
	border-radius: 2px;
	margin-left: auto;
}

.popup__btn-add:hover {
	cursor: pointer;
	opacity: .6;
	transition: opacity .3s;
}

@media screen and (max-width: 880px) {
	.popup__btn-add {
		margin: 0;
		width: 100%;
	}
}