.profile__info {
	display: grid;
	grid-template-columns: 1fr 24px;
	column-gap: 22px; /* по PixelPerfect */
	row-gap: 12px; /* по PixelPerfect */
}

@media screen and (max-width: 380px) {
	.profile__info {
		row-gap: 6px;
		column-gap: 10px;
		margin-left: 34px;
	}	
}