.photo-grid__item-info {
	margin: 0;
	display: flex;
	background-color: #fff;
	color: #000;
	flex-direction: row;
	justify-content: space-between;
	padding: 25px 15px 26px 20px;
	align-items: center;
	border: none;
}