.profile__btn-edit {
	width: 24px;
	height: 24px;
	background-image: url(../../../images/pen_big.svg);
	background-position: center;
	background-size:initial;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 1px solid #fff;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	align-self: center;
}

.profile__btn-edit:hover {
	cursor: pointer;
	opacity: .6;
	transition: opacity .3s;

}

@media screen and (max-width: 380px) {
	.profile__btn-edit {
		width: 18px;
		height: 18px;
		background-image: url(../../../images/pen_small.svg);
	}
	
}