.photo-grid__item-like {
	width: 22px;
	height: 19px;
	background-image: url(../../../images/like_small.svg);
	border: none;
	background-color: transparent;
	background-position: center;
	background-size: initial;
	background-repeat: no-repeat;
	box-sizing: border-box;
	margin: 0;
}

.photo-grid__item-like:hover {
	opacity: .5;
	cursor: pointer;
	transition: opacity .3s;
}

.photo-grid__item-like:active {
	background-image: url(../../../images/like_full.svg);
	opacity: 1;
}