.photo-grid__item-like_active {
	width: 22px;
	height: 19px;
	background-image: url(../../../../images/like_full.svg);
	border: none;
	background-color: transparent;
	background-position: center;
	background-size: initial;
	background-repeat: no-repeat;
	box-sizing: border-box;
	margin: 0;
}