.photo-grid__item-image {
	display: flex;
	margin: 0;
	width: 100%;
	min-width: 282px;
	height: 282px;
	object-fit: cover;
	border: none;
	cursor: pointer;
}

.photo-grid__item-image:hover {
	opacity: .8;
	transition: .3s;
}